html
{
    background-color:#eeeeee;
}
.img-50-all
{
    max-width: 50px;
    max-height: 50px;;
}
.mr-20
{
    margin-right: 20px;
}
.list-inline
{
    list-style-type: none;
}
.list-inline>li
{
    display: inline;
}
.list-inline>li>a
{
    text-decoration: none;
    display: inline;
}

/*Menu Bar*/
.menuBar{
    background-color: rgb(13, 49, 168);
    height: 50px;
    margin-top: -12px;
}
.menuBar>ul>li
{
    display: inline;
    list-style-type: none;
}
.menuBar>ul>li>a
{
    text-decoration: none;
    padding: 17px;
    color:white;
    line-height: 50px;
}
.menuBar>ul>li>a:hover
{
    color:white;
    background-color: #fabe3a;
}